/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2015, 8:26:51 AM
    Author     : user
*/
body{
	min-width: 500px;
	min-height: 960px;
	position: relative;
}

#navbar{
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px !important;
	background-color: rgb(58,0,117);
	width: 100%;
}

ul{
	list-style: none;
	margin: 0 15% 0 15%;
	padding: 0;
}

li{
	display: inline;
}

form{
	display: inline;
}

input{
	height: 25px;
}

div{
	display: block;
}

.search{
	min-width:5px;
	display: inline;
}

.button{
	background-image: url('images/logo.png');
	background-size: cover;
	height: 50px;
	width: 50px;
}

.sbutton{
	height: 30px;
	margin-left: -5px;
	background-color: blue;
	font-weight: bolder;
	color: white;
}

.ubutton{
	background-size: cover;
	height: 50px;
	width: 50px;
}

#themiddle{
	padding-top: 5px;
}

.content_post{
	display: block;
	background-color: rgba(200,191,231,30);
	opacity: 0.3;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: -10px;
}
