body{
	min-width: 500px;
	min-height: 960px;
	position: relative;
}

#navbar{
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px !important;
	background-color: rgb(58,0,117);
	width: 100%;
}

.navbar{
	list-style: none;
	margin: 0 15% 0 15%;
	padding: 0;
}

li{
	display: inline;
}

form{
	display: inline;
}

input{
	height: 25px;
}

div{
	display: block;
}

.search{
	min-width:5px;
	display: inline;
}

.button{
	background-image: url('images/logo.png');
	background-size: cover;
	height: 50px;
	width: 50px;
}

.sbutton{
	height: 30px;
	margin-left: -5px;
	background-color: blue;
	font-weight: bolder;
	color: white;
}

.title_name{
}

.main_setting{
	display: block;
	background-color: rgba(200,191,231,30);
	
}

.inner_setting{
	background-color: purple;
	width: 960px;
	height: 960px;
}

.post_setting{
	background-color: white;
	margin-left: 5px;
	width: 960px;
	min-height: 960px;
}

.side_setting{
	background-color: red;
	margin-left: 5px;
	margin-right: 8px;
	width: 15%;
	float: right;
	display: inline-block;
}

.avatar{
	background-color: blue;
	text-align: center;
}

.ava_img{
	width: 125px;
	height: 125px;
	border-color: black;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

.friend_list{
	text-align: center;
}
/* CSS Document */

